<h1>{{ book.title }}</h1>

<h2><img src="{{ book.image.url }}" width="300" /></h2>

{{ book.description|safe }}

<br />
<br />
<div>
  <label>Reviews Section</label>
  <p>It's simply dummy text of the printing and typesetting industry.</p>
  <div>
    {% for review in reviews %}
    <ul>
        <li>
        <button>
          <h3>{{ review.reviewer }}</h3>
        </button>
          <span>{{ review.rating }} </span>
          <p>says: {{ review.review }}</p>
        </li>
    </ul>
    {% endfor %}
  </div>
</div>
<form
  method="post"
  action="{% url 'book_app:add_review' book.id %}"
  role="form"
>
  <div>
    {% csrf_token %}
      Your Name :
      <input type="text" placeholder="Enter Your Name" name="reviewer" />
      <br />
      Review :
      <input type="text" placeholder="Your reviews" name="msg" />
      <br />
      Ratings :
      <input type="number" placeholder="Your ratings" name="rating" />
  </div>
  <div>
    <button>Add</button>
  </div>
</form>
